.benefits {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f2f2f2;

  &::after {
    content: "";
    width: 157px;
    height: 280px;
    background: url("/img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    align-self: center;
  }

  .tablet ({
    height: 750px;
    flex-direction: row;
    justify-content: flex-end;

    &::after {
      content: "";
      width: 268px;
      height: 480px;
      background: url("/img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      order: 0;
      align-self: flex-end;
    }
  });

  .desktop ({
    &::after {
      display: none;
    }
  });
}

.benefits__slogan {
  .section-heading();
  margin: 0;
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;

  .tablet({
    font-size: 50px;
    line-height: 1.36;
  });
}

.benefits__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
  margin: 0;
  color: #000000;
  margin-bottom: 10px;

  .desktop ({
    font-size: 30px;
    line-height: 1;
  });
}

.benefits__text {
  margin: 0;

  .desktop ({
    font-size: 18px;
    line-height: 1.67;
  });
}

.benefits__list {
  .list-reset();
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;

  .tablet ({
    text-align: start;
    width: 50%;
    order: 1;
  });

  .desktop ({
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    text-align: center;
  });
}

.benefits__item {
  margin: 25px;
  position: relative;

  .desktop ({
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      width: 268px;
      height: 382px;
      order: -1;
      }

    &:nth-child(1) {
      &::before {
        background: url("/img/iphone-screen-1-desktop@1x.png") no-repeat;
      }
    }

    &:nth-child(2) {
      &::before {
        background: url("/img/iphone-screen-2-desktop@1x.png") no-repeat;
      }
    }

    &:nth-child(3) {
      &::before {
        background: url("/img/iphone-screen-3-desktop@1x.png") no-repeat;
      }
    }
  });
}
