.comment__title {
    .form-heading();
}

.comment__emotions {
    &::placeholder {
        .form-text();
    }

    .form-text();
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 25px;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    resize: none;
}