.contact__list {
  .list-reset();
  display: flex;
  flex-direction: column;

  .tablet ({
    flex-direction: row;
    flex-wrap: wrap;
  });
}

.contact__subtitle {
  .section-heading();
  margin-top: 20px;
}

.contact__caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.38;
  color: #283645;
  margin: 0;
}

.contact__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.375;
  color: #d22856;
}

.contact__item {
  margin-bottom: 20px;
}

.contact__map {
  height: 200px;
}
