.download__wrapper {

    background-color: #1d2631;
    color: #ffffff;
}

.download__button {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    // border: 3px solid #ffffff;
    // border-radius: 29px;
    // padding: 20px 38px;
}

.download__OS-suitability {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.download__list {
    .list-reset();
}