.download {
  background: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 320px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }

  .tablet ( {
    background: none;

    &::before {
      width: 700px;
      height: 545px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      position: absolute;
      align-self: flex-end;
      justify-self: flex-start;
    }
  });

  .desktop ( {
    background: none;
    flex-direction: row;
    padding-top: 95px;

      &::before {
        width: 1050px;
        height: 645px;
        background: url("/img/iphone-hand-desktop@1x.png") no-repeat;
        background-position-x: 75%;
        position: relative;
        order: 1;
      }
    }
  );
}

.download__wrapper {
  padding: 10px 16px;
  background-color: #1d2631;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;

  .tablet ( {
    order: 0;
    z-index: 2;
    margin-left: 20px;
    align-self: flex-start;
    width: 50%;
    background-color: transparent;
    display: flex;
    });

  .desktop ({
    padding: 0;
    width: auto;
    justify-content: flex-start;
    // margin-bottom: 50px;
  });
}

.download__slogan {
  &--up {
    padding: 20px 20px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    justify-self: flex-start;
    order: -1;
  }

  .mobile( {
    width: 280px;

    &--down {
      display: none;
    }
  });

  .tablet( {
    padding: 29px 20px;
    font-weight: 300;
    order: -1;
    z-index: 2;
    align-self: center;
    font-size: 40px;
    line-height: 1.2;

    &--up {
      display: none;
    }

    &--down {
      display: flex;
      order: -1;
    }
  });

  .desktop ({
    &--down {
      margin: 0;
    }
  });
}

.download__button {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  border: 3px solid #ffffff;
  border-radius: 29px;
  padding: 20px 38px;
  margin-top: 28px;
  align-self: center;

  .tablet ({
    align-self: stretch;
  });

  .desktop ({
    margin-bottom: 30px;
    padding: 20px 30px;
  });
}

.download__OS-suitability {
  font-weight: 300;
  margin: 21px 0 38px 0;
  padding: 0;
  align-self: center;

  .mobile({
    width: 280px;
  });

  .tablet({
    font-size: 18px;
    line-height: 1.33;
  });

  .desktop ({
    padding-top: 30px;
  });
}

.download__list {
  .list-reset();

  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.download__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.download__link {
  content: "";
  background-repeat: no-repeat;

  &--mac {
    width: 47px;
    height: 57px;
    background-image: url("/img/logo-apple.svg");
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("/img/logo-android.svg");
  }

  &--windows {
    width: 44px;
    height: 41px;
    background-image: url("/img/logo-microsoft.svg");
  }
}
