.research {
  padding: 0 50px;
  display: none;
  text-align: start;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    background-color: #f2f2f2;
  }
}

.research__wrapper {
  width: 50%;
}

