.review__wrapper {
  padding: 20px;
}

.review__list {
  .list-reset();
}

.review__item {
  display: flex;
  flex-direction: column;
}

.review__content {
  line-height: 2.14;
  margin: 0;
}

.review__author-name {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.review__author-about {
  line-height: 2.14;
  display: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: block;
    order: 2;
  }
}

.review__toggles {
  margin-top: 20px;
}
