.page-heading() {
    font-size: 14px;
    line-height: 30px;
}

.section-heading() {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #283645;
}

.list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}